.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.navbar-logo img {
  height: 60px;
}


.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #363738;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #0056b3;
}
